body {
    text-align: center;
    background-color: floralwhite;
}

.section-style {
    margin-left: 25px;
    margin-right: 25px;
    background-color: azure;
}

div {
    margin-top: 15px;
    display: block;
}

.image-style {
    display: flex;
    justify-content: center;
}

img {
    height: 600px;
    width: 600px;
}
